{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "rules": {
    "no-console": "error"
  }
}